<h1>Create a New Owner</h1>
<img src = "https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2017/04/12185602/Lagotto-Romangolo-Tongue-Out.jpg" alt ="doggie" title="dog">
<form action="/owners" method="POST">
  <label>Owner Name:</label>
  <br>
  <input type="text" name="owner[name]">
  <br>
  <p> <p style= "color: blue;"> <em> Select an existing pet or create a new one below. </em> </p>
  <h3> <p style= "color: green;">Existing Pets</h3> </p>
  <% @pets.each do |pet| %>
    <input type="checkbox" name="owner[pet_ids][]" id="<%= pet.id %>" value="<%= pet.id %>"><%= pet.name %></input><br>
  <% end %>
  <br>
  <h3>New Pet</h3>
  <label>Pet Name: </label>
  <br>
  <input type="text" name="pet[name]" id="pet_name"></input>
  <br><br>
  <input type="submit" value="Create Owner">
</form>

<%-# ERB TAGS:show content of ruby string -%>
