<h1>Create a New Pet</h1>

<form action="/pets/new" method="POST">
  <label for="name">Pet Name: </label>
  <br>

  <input type="text" name="pets[name]" id="pet_name"></input>
  <br><br>

  <input type="submit" value="Create Pet">
</form>



