<h1>Create a new Pet</h1>

<form action="/pets" method="POST">
  <label for="pet_name">Pet Name: </label>
    <input type="text" id="pet_name" name="pet[name]"><br><br>
  <p>Select owner of pet or create a new owner:</p>
  <% @owners.each do |owner| %>
    <input type="radio" id="<%= owner.id %>" name="pet[owner_id]" value="<%= owner.id %>"><%= owner.name %></input><br>
  <% end %><br><br>

  <h4>New Owner</h4>
  <label for="owner_name">Onwer's Name: </label>
    <input type="text" id="owner_name" name="pet[new_owner_name]"><br><br>
  <input type="submit" id="Create Pet" value="Create Pet">
</form>