<h1>Create a new Pet</h1>

<form method = "post" action = "/pets">
    <h5>Name: <input type = "text" name = "pet[name]" id = "pet_name"></h5>

    <h4>Select an existing owner or create one</h4>
    <h4>Existing Owners</h4>
    <% @owners.each do | sel | %>
        <p><input type= "radio" name= "pet[owner_id]" id= "<%= sel.id %>" value= "<%= sel.id %>" > <%= sel.name %></p>
        </input>
    <% end %>

    <h4>New Owner</h4>
    <p>Owner Name: <input type= "text" name= "owner[name]" id= "owner_name">
    <br>
    <input type = "submit" name = "Create Pet">
</form>