<h1>Create a new Pet</h1>

<form action="/pets" method="post">
<label>Pet Name: </label>
<input type="text" name="pet[name]" id="pet_name"><br>

<p>Select an existing owner or create a new one.</p>

<h3>Existing Owners</h3>
<% Owner.all.each do |owner| %>
  <input type="radio" name="pet[owner_id]" id="<%= owner.id  %>" value="<%= owner.id %>"><%= owner.name %>
<% end %>

<h3>New Owner</h3>
<label for="owner_name">Owner name: </label>
<input type="text" name="owner[name]" id="owner_name"><br><br>

<input type="submit" value="Create Pet">

</form>
