<h1>Create a new Pet</h1>
<form action='/pets' method="POST">
  <label for='pet_name'>Name: </label>
  <input type="text" id='pet_name' name='pet[name]'>

  <h1>Select Owner</h1>
  <h2>Existing Owner</h2>
  <%@owners.each do |owner| %>
    <input type="radio" name="pet[owner_id]" id="<%= owner.id %>" value="<%= owner.id %>"><%= owner.name %></input><br>
  <%end%>

  <h2>New Owner</h2>
  <label>Owner Name: </label>
  <input type="text" name='owner[name]' id='owner_name'><br><br>
  <input type='submit' value="Create Pet" id='Create Pet'>
</form>
